.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 20px 8px;
}

.content {
  margin-inline: 12px;
  display: flex;
  align-items: start;
  position: relative;
  gap: 16px;
}

@media (min-width: 640px) {
  .content {
    margin-inline: 0;
  }
}
