.filterContainer {
  z-index: 9999;
  left: 5px;
  right: 5px;
  background-color: white;
  position: absolute;
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 16px;
  border: 1px solid grey;
}

@media (min-width: 805px) {
  .filterContainer {
    position: relative;
    width: 350px;
    left: 0;
    right: 0;
    border: none;
    padding: 15px 0;
  }
}

.customizableOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.customizableText {
  color: #252020;
  font-weight: bold;
  font-size: 12px;
}

@media (min-width: 700px) {
  .customizableText {
    font-size: 18px;
  }
}

.divider {
  border: 1px solid #e5e5e5;
}
