.grid {
  margin: 16px 0;
  width: 100%;
  display: grid;
  gap: 20px 12px;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
